body {
  font-family: Arial, sans-serif;
  background-color: #1d1919; /* Dark green for "green screen" */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 200px;
}

.keyboard {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.split {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row {
  display: flex;
  gap: 0.5rem;
}

.thumb-row {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #746a6a;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  width: 60px;  
  height: 60px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  user-select: none;
  transition: transform 0.1s ease, background-color 0.1s ease;
  margin: 3px;
  font-size: 22px;
  font-weight: bold;
}
.key.highlight {
  transform: scale(0.95);
  background-color: #746a6a; /* Slightly darker blue */
  transition: background-color 0.2s ease-in-out, transform 0.2s ease;
}

.key.highlight-temporary {
  animation: highlight-fade 0.2s ease-in-out; /* Adjusted duration for smooth fade */
}

@keyframes highlight-fade {
  0% {
    background-color: #103862; /* Highlight color */
  }
  100% {
    background-color: #333333; /* Default key background color */
  }
}

.layer-controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #00408b;
}

/* Right align the bottom row of the left keyboard */
#left-side .row:last-child {
  justify-content: flex-end;
}
